main{
  background: #eeee;
}
.profile-btn{
  left: 67.9%;
  background: #09174B;
  border-radius: 16px;
  border: 1px solid #09174B;

}

.user-que{
  margin-bottom: 280px;
}

a{
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 480px) {
  .profile-btn{
    left: 35.9%;
  }
}